<html>
<body>
<h1> Welcome to Serafin Fitness</h1></br>

<p>The one stop shop for all your fitness needs and goals</p></br>

<%=image_tag("Fitness.jpg")%></br>

<p><%=link_to "Click Here To Enter Site", home_welcome_path%></p></td>


</body>
</html> 
