<html>
<body>
<h1>Nutrition Plan</h1>
<p><%=link_to "Home", home_welcome_path%></p>
<p>This plan can be used for everyday of the week and will fit your needs based on your caloric needs</p>
<h2>Breakfast</h2>
<p>3 whole eggs, 1 pancake, 8oz of orange juice</p>
<h3>Snack</h3>
<p>Protein shake</p>
<h4>Lunch</h4>
<p>Chicken sandwhich, brown rice, and water</p>
<h5>Snack</h5>
<p>Protein shake</p>
<h6>Dinner</h6>
<p>Chicken, pasta, and water</p>