<html>
<body>
<h1>Workout Plan</h1>
<p><%=link_to "Home", home_welcome_path%></p>


<p>Mon-Chest, Shoulder, and Triceps Day</p>
<p>Tue-Rest</p>
<p>Wed-Back and Biceps Day</p>
<p>Thurs-Rest</p>
<p>Fri-Legs</p>
<p>Sat-Rest</p>
<p>Sun-Rest</p>

<h2>Chest, Shoulder, and Triceps Workout</h2>
<p>Flat Bench 3X10, Incline Bench 3X10, Chest Flys 3X10, DumbbellShoulder Press 3X10, Lateral Raises 3X10, and Rope Pull Downs 3X10</p></br>
<h3>Back and Biceps Workout</h3>
<p>Deadlift 3X10, Lat Pull Down 3X10, Cable Row 3X10, Barbell Curl 3X10, and Dumbbell Curl 3X10</p></br>
<h4>Leg Workout</h4>
<p>Squat 3X10, Leg Press 3X10, Leg Curl 3X10, Leg Extension 3X10, and Calf Raise 3X10</p> 

